.h2{
    color:black;
    text-align:center;
    font-size:24px;
}


.h4{
    color:gray;
    font-size: 16px;
    text-decoration-line: line-through;
    text-align:center;
}

.nav-button{
    background-color: #cfb02c;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
    height: 40px;

}

.nav-button:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}

body{
    height: 2500px;
}







body{
    margin:0;
}

.Navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo{
    width: 25%;
    position: relative;
    margin: 10px 0 0 0;
}

.logo img{
    width: 40%;
    height: auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}


.elements{
    width: 50%;
    margin: 10px 0 0 0;

}



.nav-links{
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px 0 10px;
    list-style: none;
    align-items: center;

}
.nav-link{
    color: black;
    font-size: 24px;


}

.nav-link:hover{
    color: gray;
    cursor: pointer;
}

.cart{
    width: 25%;
    margin: 10px 0 0 0;
    position: relative;
}
.cart img{
    width: 18%;
}

#nav-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav-btn:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}

.Nadpis{
    text-align: center;
    position: relative;
    margin-top: 80px;
}

.Nadpis h1{
    font-size: 64px;
}
.Nadpis p{
    font-size: 32px;
}

.select{
    width: 15%;
    height: 40px;
    position: absolute;
    left: 10%;
}

.products{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 80px 0;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);


}

.products2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 80px 0;
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
}
.product{
    position: relative;
}

.h3-no-sale{
    position: absolute;
    top: 84%;
    left: 39%;
    color:dimgray;
    font-size: 20px;
}

.h3-text{
    position: absolute;
    top: 84%;
    left: 39%;
    color:dimgray;
    font-size: 20px;
}
.h4-sale{

}

.product-btn{
    position: absolute;
    border-radius: 15px 0 15px 0 ;
    background-color: white;
    color: black;
    border: #cfb02c 2px solid;
    width: 50%;
    height: 7%;
    top: 100%;
    left: 25%;
}

.product-btn:hover{
    background-color: #cfb02c;
    color: white;
    cursor: pointer;

}

.down-side{
    background-color: #344742;
    width: 100%;
    height: 65%;
    position: absolute;
    top: 250%;

}

.down-side img{
    width: 20%;
    height: auto;
    position: absolute;
    left: 40%;
    top: 60%;
    transform: translate(-50%, -50%);

}

.down-side p{
    position: absolute;
    top: 50%;
    left: 60%;
    color: white;

}

.down-h2{
    position: absolute;
    top: 35%;
    left: 60%;
    color:white;
    font-size: 32px;
    font-weight: bold;

}

#email2{
    position: absolute;
    width: 15%;
    height: 40px;
    border-radius: 50px;
    border: none;
    top: 70%;
    left: 60%;
}

#btn1{
    position: absolute;
    width: 8%;
    top: 70%;
    left: 77%;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #2b3130;
    color: #fff;
    padding: 40px;
    font-family: Arial, sans-serif;
    position: absolute;
    width: 95.25%;
    top: 310%;
}

.footer-logo{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Logo and Social Icons */
.footer-logo img {
    width: 15%;
    height: auto;

}

.social-icons a {
    margin-right: 10px;
    color: #d4af37;
    text-decoration: none;
}

/* Footer Sections */
.footer-links, .footer-services, .footer-newsletter {
    flex: 1;
}

.footer-links h3, .footer-services h3, .footer-newsletter h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-links ul, .footer-services ul {
    list-style: none;
    padding: 0;
}

.footer-links li, .footer-services li {
    margin-bottom: 10px;
}

.footer-links a, .footer-services a {
    color: #d4af37;
    text-decoration: none;
}

/* Newsletter Form */
.footer-newsletter form {
    display: flex;
    flex-direction: column;
}

.footer-newsletter input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
}

.footer-newsletter button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #d4af37;
    color: #2b3130;
    cursor: pointer;
}


@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 1200px) {
    .products{
        top: 200%;
        width: 75%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .products2{
        width: 75%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}








